.account {
    background-color: #f6f6f6;

    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 98vh;

        img {
            position: absolute;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}
