.beta-block {
    height: 95vh;
    max-width: 100%;

    &__container {
        height: 100%;
        opacity: 0.9;
        background-color: #C7DDD8;

        p {
            height: 100%;
            margin: 0;
        }
    }


}
