@import 'vars';

.block {
    position: relative;

    @include mixin.media('md') {
        height: 85vh;
    }


    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: #EBEBEB;
        padding: 2rem 0.5rem;
        text-align: center;

        @include mixin.media('md') {
            text-align: left;
        }
    }

    &__title {
        margin: 0;
        font-family: $footer-font;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1;
        text-align: center;

        @include mixin.media('md') {
            font-size: 2rem;
        }

        &-hero{
            margin: 0;
            font-family: $footer-font;
            font-size: 5.5rem;
            line-height: 1;
            font-style: oblique 60deg;

            @include mixin.media('md') {
                font-size: 8rem;
            }
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    &__samurai {
        position: static;
        height: auto;
        max-width: 300px;
        width: 100%;
        @include mixin.media('md') {
            position: absolute;
            top: 10px;
            left: 5%;
        }
        @include mixin.media('lg') {
            position: absolute;
            top: 10px;
            left: 13%;
        }
    }


    &__paragraph {
        display: flex;
        justify-content: flex-end;
        max-width: 450px;
        width: 100%;

        
        @include mixin.media('md') {
            margin-top: 5rem;
            margin-left: 20rem;
        }

        @include mixin.media('lg') {
            margin-top: 5rem;
            margin-left: 30rem;
        }
    }
}