@import 'vars';

.block {
    // position: relative;
    background: #ffff;
    overflow: hidden;
    height: 100%;
    opacity: 0.9;

    @include mixin.media('md') {
        height: 120vh;
    }

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        max-width: 1650px;
        width: 100%;
        margin: 1rem auto 1.5rem auto;
        padding: 2rem 0.8rem;
        text-align: center;

        @include mixin.media('md') {
            margin-top: 0;
            margin-bottom: 3rem;
            text-align: left;
        }
    }

    &__title {
        margin: 0;
        font-family: $footer-font;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1;
        text-align: center;

        @include mixin.media('md') {
            font-size: 2rem;
        }

        &-hero {
            margin: 0;
            margin-bottom: 1rem;
            font-family: $footer-font;
            font-size: 2.775rem;
            line-height: 1;
            font-style: oblique 60deg;

            @include mixin.media('md') {
                font-size: 8rem;
                margin-bottom: 0;
            }
        }
    }

    &__paragraph {
        max-width: 580px;
        margin: 0;
        font-family: $paragraph-font;
        font-size: 0.8rem;
        line-height: 1.6;
        font-weight: 400;
        text-align: center;

        @include mixin.media('md') {
            font-size: 0.9rem;
        }
    }

    &__button-wrapper {
        max-width: 500px;
        max-height: 32px;
        height: 100%;
        width: 100%;
        margin: 1.5rem 0 5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        position: relative;
        min-height: 32px;
        max-width: 195px;
        height: 100%;
        width: 100%;
        margin: 0 0.5rem;
        color: #000000;
        background-color: $teal;
        border: none;
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
        box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
        font-family: $footer-font;
        font-size: 0.8rem;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        .border__blue-top-right {
            position: absolute;
            top: 0;
            right: 0;
            border-top: 10px solid white;
            border-left: 10px solid $teal;
            width: 0;
            opacity: 0.9;
            transition: width 0.3s ease;
        }
        .border__blue-bottom-left {
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 10px solid white;
            border-right: 10px solid $teal;
            width: 0;
            opacity: 0.9;
            transition: width 0.3s ease;
        }
    
        // &:hover {
    
        //     &:before {
        //         border-top: none;
        //         border-left: none;
        //     }
        // }
    
        // &:before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     border-top: 15px solid white;
        //     border-left: 15px solid $teal;
        //     width: 0;
        //     opacity: 0.9;
        //     // transition: border-top 0.3s ease, border-left 0.3s ease;
        // }
    
        &-orange {
            background-color: $orange;
    
            // &:hover {
    
            //     &:before {
            //         border-top: none;
            //         border-left: none;
            //     }
            // }

            // &:before {
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     border-top: 15px solid white;
            //     border-left: 15px solid $orange;
            //     width: 0;
            //     opacity: 0.9;
            //     // transition: border-top 0.3s ease, border-left 0.3s ease;
            // }
            .border__orange-top-right {
                position: absolute;
                top: 0;
                right: 0;
                border-top: 10px solid white;
                border-left: 10px solid $orange;
                width: 0;
                opacity: 0.9;
                transition: width 0.3s ease;
            }
            .border__orange-bottom-left {
                position: absolute;
                bottom: 0;
                left: 0;
                border-right: 10px solid $orange;
                border-bottom: 10px solid white;
                width: 0;
                opacity: 0.9;
                transition: width 0.3s ease;
            }
        }
    }

    
    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;

        @include mixin.media('lg') {
            width: 100%;
            flex-direction: row;
        }
    }


    &__samurai-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        max-width: 250px;
        width: 100%;
        max-height: 300px;
        height: 100%;

        @include mixin.media('xl') {
            max-width: 500px;
            max-height: 500px;
        }

    }

    &__samurai {
        position: relative;
        max-width: 400px;
        width: 100%;
        max-height: 250px;
        height: 250px;

        @include mixin.media('xl') {
            max-height: 500px;
            height: 500px;
        }

        &-title {
            margin: 0;
            font-size: 0.75rem;
            text-align: center;
            // font-style: oblique 80deg;
            font-weight: 600;
            font-family: $footer-font;
        }
        &-description {
            margin: 0;
            margin-bottom: 1rem;
            font-size: 0.75rem;
            text-align: center;
            // font-style: oblique 80deg;
            font-weight: 200;
            font-family: $footer-font;
            
            @include mixin.media ('md') {
                margin-bottom: 0;
            }
        }

        &-border {
            position: absolute;
            top: 0;
            right: 0;
            width: 90%;
            height: 90%;
            margin: 5% 5%;
            opacity: 0.5;
            border: 1px solid $orange;
        }
        &-border--two {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 90%;
            margin: 0 5%;
            border: 1px solid $teal;
            opacity: 0.5;
            transform: rotate(42deg);
        }
    }

    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
    }

    &__classes-wrapper {
        display: flex;
        justify-content: center;
        width: auto;
        @include mixin.media('md') {
            width: 100%;
        }
    }


    &__classes-carousel {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;

        @include mixin.media ('md') {
            justify-content: space-between;
            margin-bottom: 0;
        }

        p {
            font-weight: 100;
            margin-top: 0.2rem;
        }
    }

    &__circle {
        visibility: visable;
        background-color: transparent;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: solid 2px $orange;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &-hidden {
            visibility: hidden;
        }
    }

    &__icon {
        visibility: visible !important;
        display: flex;
        max-width: 28px;
        width: 100%;
        cursor: pointer;
        opacity: 0.5;
    }

    &__video-classes {
        // display: none;
        max-width: 500px;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        margin-top: 3rem;

        &__item {
            position: relative;
            max-width: 375px;
            width: 100%;
            max-height: 200px;
            height: 100%;

            @include mixin.media ('md') {
                max-width: 450px;
                max-height: 250px;
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            max-height: 200px;
            height: 100%;


            @include mixin.media ('md') {
                max-height: 250px;
            }
        }

        &__border {
            position: absolute;
            top: -12px;
            left: 10px;
            height: 110%;
            width: 95%;
            border: 1px solid gray;
        }

        a {
            margin-top: 1rem;
            font-size: 0.75rem;
            text-align: left;
            color: #000000;

            @include mixin.media ('md') {
                // display: block;
            }
        }
    }
}