@import "vars";

.footer {
    background-color: #272a2bbc;
    color: #ffff;
    font-family: $footer-font;
    font-size: 0.85rem;

    &__container {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid gray;
        margin: 0 2.5rem;
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 75%;
        list-style: none;

        @include mixin.media('md') {
            flex-direction: row;
        }
    }

    &__link {
        margin: 1.5rem 0;
        transition: text-decoration 0.3s ease, transform 0.5s ease;
        cursor: pointer;

        a {
            color: #ffff;
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
        
        @include mixin.media('md') {
            margin: 3rem 1.5rem;
        }
    }
    
    &__copyright {
        position: relative;
    }

    &__copyright--container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 2.5rem;
        
        @include mixin.media('md') {
            flex-direction: row;
        }

        p, a {
            margin: 1.5rem 0;
            color: #ffff;
            text-decoration: none;

            @include mixin.media('md') {
                margin: 3rem 1.5rem;
            }
        }

    }

    &__logo {
        margin: 0 !important;
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }
    }

    &__scroll {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    // &__godot-logo {
    //     max-width: 450px;
    //     width: 100%;
    // }

    .godot {
        position: absolute;
        top: 0.5rem;
        right: 2rem;
        max-width: 110px;
        width: 100%;
        
        @include mixin.media('md') {
            max-width: 220px;
        }
    }
}
