.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    width: 100%;
    height: 55px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: rgba(223, 31, 31, 0.9);
    z-index: 2;

    @include mixin.media ('md') {
        height: 65px;
        top: 5px;
        max-width: 95%;
        margin: 5px auto;
    }

    svg {
        color: white;
    }
    
    &__items {
        max-width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        list-style: none;
        color: #ffff;
    }

    &__links {
        display: none;

        @include mixin.media('md') {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 2rem;
            cursor: pointer;
        }

    }

    &__burger {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.1rem;
        padding: 0 1rem;
        cursor: pointer;

        @include mixin.media('md') {
            display: none;
            padding: 0 2rem;
        }
    }

    &__burger-close {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 2rem;
    }

    &__link {
        display: flex;
        align-items: center;
        height: 3rem;
        padding: 0rem 2rem;
        border-radius: 2px;
        transition: text-decoration 0.3s ease, transform 0.5s ease, background-color 0.5s ease;
        
        @include mixin.media('lg') {
            padding: 0rem 2.5rem;
        }

        &:hover {
            background-color: #a40909;
            text-decoration: underline;
        }

        a {
            text-decoration: none;
            list-style: none;
            color: #ffff;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        padding: 0rem 1rem;
        cursor: pointer;

        @include mixin.media('md') {
            padding: 0rem 2rem;
        }

        @include mixin.media('lg') {
            padding: 0rem 2.5rem;
        }

        svg {
            margin-right: 10px;
        }
    }
}