@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$breakpoints: (
    'xs'            : 0,
    'sm'            : 576px,
    'md'            : 768px,
    'lg'            : 992px,
    'xga'           : 1024px,
    'xl'            : 1280px,
    'xxl'           : 1440px,
    'hd'            : 1920px,
    );


// fonts
$paragraph-font: "IBM Plex Serif", serif;
$footer-font: "Noto Sans HK", sans-serif;


// colours
$teal: rgba(30, 197, 227);
$orange: rgb(241, 145, 1);