@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap");
.hero__gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.hero__container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 98vh;
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60% 50%;
  z-index: -1;
}
.hero__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  z-index: 1;
  color: white;
}
.hero__title {
  font-size: 6rem !important;
  margin: 0;
  padding: 0;
  line-height: 1.1;
}
.hero__paragraph {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.btn {
  max-width: 200px;
  max-height: 72px;
  height: 100%;
  width: 100%;
  background-color: rgba(223, 31, 31, 0.9529411765);
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  font-family: "Madimi One", sans-serif;
  font-size: 1.5rem;
  color: white;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.5s ease, transform 0.5s ease;
}
.btn:hover {
  background-color: #e20707;
  transform: scale(1.05);
}

.navbar {
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  max-width: 95%;
  width: 100%;
  height: 65px;
  margin: 5px auto;
  border-radius: 2px;
  background-color: rgba(223, 31, 31, 0.9);
  z-index: 2;
}
.navbar__items {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  color: white;
  cursor: pointer;
}
.navbar__links {
  display: none;
}
@media screen and (min-width: 768px) {
  .navbar__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
}
.navbar__burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .navbar__burger {
    display: none;
  }
}
.navbar__burger-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
}
.navbar__link {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0rem 2rem;
  border-radius: 2px;
  transition: text-decoration 0.3s ease, transform 0.5s ease, background-color 0.5s ease;
}
@media screen and (min-width: 992px) {
  .navbar__link {
    padding: 0rem 2.5rem;
  }
}
.navbar__link:hover {
  background-color: #e30000;
  text-decoration: underline;
}
.navbar__logo {
  padding: 0rem 2rem;
}
@media screen and (min-width: 992px) {
  .navbar__logo {
    padding: 0rem 2.5rem;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  opacity: 1;
  z-index: 999;
}
.mobile-menu__close {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.mobile-menu__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.mobile-menu__container {
  padding: 20px;
}

.block {
  position: relative;
}
@media screen and (min-width: 768px) {
  .block {
    height: 85vh;
  }
}
.block__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #EBEBEB;
  padding: 2rem 0.5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .block__container {
    text-align: left;
  }
}
.block__title {
  margin: 0;
  font-family: "Noto Sans HK", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .block__title {
    font-size: 2rem;
  }
}
.block__title-hero {
  margin: 0;
  font-family: "Noto Sans HK", sans-serif;
  font-size: 5.5rem;
  line-height: 1;
  font-style: oblique 60deg;
}
@media screen and (min-width: 768px) {
  .block__title-hero {
    font-size: 8rem;
  }
}
.block__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.block__samurai {
  position: static;
  height: auto;
  max-width: 300px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .block__samurai {
    position: absolute;
    top: 10px;
    left: 5%;
  }
}
@media screen and (min-width: 992px) {
  .block__samurai {
    position: absolute;
    top: 10px;
    left: 13%;
  }
}
.block__paragraph {
  display: flex;
  justify-content: flex-end;
  max-width: 450px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .block__paragraph {
    margin-top: 5rem;
    margin-left: 20rem;
  }
}
@media screen and (min-width: 992px) {
  .block__paragraph {
    margin-top: 5rem;
    margin-left: 30rem;
  }
}

.footer {
  background-color: #252423;
  color: white;
  font-family: "Noto Sans HK", sans-serif;
  font-size: 0.85rem;
}
.footer__container {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid gray;
  margin: 0 2.5rem;
}
.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .footer__links {
    flex-direction: row;
  }
}
.footer__link {
  margin: 1.5rem 0;
  transition: text-decoration 0.3s ease, transform 0.5s ease;
  cursor: pointer;
}
.footer__link:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .footer__link {
    margin: 3rem 1.5rem;
  }
}
.footer__copyright--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 2.5rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright--container {
    flex-direction: row;
  }
}
.footer__copyright--container p, .footer__copyright--container a {
  margin: 1.5rem 0;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .footer__copyright--container p, .footer__copyright--container a {
    margin: 3rem 1.5rem;
  }
}
.footer__scroll {
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=main-output.css.map */
