@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Madimi+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #0B0B0B; 
    font-family: "Dekko", cursive;
    max-width: 100%;
  }